dataclasses-json<0.6.0
grpcio==1.60.0
llama-index
llama-index-llms-openai>=0.1.22
llama-index-embeddings-huggingface 
llama-index-vector-stores-milvus
llama-index-program-openai
openai>=1.34.0
pydantic<2
transformers
streamlit
